# Dependencies
node_modules

# Build output
dist

# Environment variables
.env
.env.local
.env.production

# Logs
logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Documentación interna
CAMBIOS.md
